<extend name="Base/common"/>
<block name="script">
    <script
            src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script
            type="text/javascript">
        wx.config({
                appId: '{$signPackage.appID}',
                timestamp: {$signPackage.timeStamp
            },
            nonceStr
        :
        '{$signPackage.nonceString}',
            signature
        :
        '{$signPackage.signature}',
            jsApiList
        :
        [
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo'
        ]
        })
        ;
    </script>
</block>
<block name="body">
    <div class="page">
        <div class="hd">
            <h1 class="page_title">我的活动信息</h1>
        </div>
        <div class="bd">
            <ul class="list-group">
                <volist name="chars" id="vo" mod='2'>
                    <eq name='mod' value='1'>
                        <li class="list-group-item list-group-item-success">{$vo.charname}--{$vo.charcount}</li>
                    </eq>
                    <eq name='mod' value='0'>
                        <li class="list-group-item list-group-item-info">{$vo.charname}--{$vo.charcount}</li>
                    </eq>
                </volist>
            </ul>
        </div>
    </div>
</block>